<!DOCTYPE html>
<html>
<title>Bəhanə Generator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<p></p>
<div class="w3-bar w3-blue">
  <a href="http://iskender.taryelkazimov.com/" class="w3-bar-item w3-button w3-mobile">Ana səhifə</a>
  <a href="http://iskender.taryelkazimov.com/maash/" class="w3-bar-item w3-button w3-mobile">Maaş timer</a>
 
</div>
<div class="w3-container">
<div class="w3-container w3-half w3-card-4">
  <h2 class="w3-text-blue">Seçilmiş bəhanə.</h2>

  <div class="w3-panel w3-card-4 w3-blue" style="width:90%">
    <p class=" w3-large w3-serif">
    <i class="fa fa-quote-right w3-xxlarge w3-text-white"></i><br>
    {{behane}}
</p>
<p>
<h2>{{autor}}</h2>
</p>
  </div>

 <h2>Inandırıcı deyil? Səhifəni yenilə.</h2>
 </div>
 <div class="w3-container w3-half">
  <form class="w3-container w3-card-4" action="/behane{{ url_for('add_behane') }}" method=post>
  <h2 class="w3-text-blue">Öz bəhanəni əlavə et.</h2>
 
  <p>      
  <label class="w3-text-black"><b>Bəhanə mətni</b></label>
  <input class="w3-input w3-border" name="behane" type="text" placeholder="Nümunə: Tualetin qapısını aça bilmirdim..."></p>
  <p>      
  <label class="w3-text-black"><b>Müəllif</b></label>
  <input class="w3-input w3-border" name="muellif" type="text" placeholder="Anonim"></p>
  <p>      
  <button class="w3-btn w3-blue" id="bas" name="bas" value="Bas getsin">Bas getsin</button></p>
  <br>
</form>


 
 </div>
</div>

</body>
</html>
